{% load workbench_filter %}

{% ifequal component.type 'macaron.rect' %}
<div 
		data-type="macaron.rect"
		data-cid="{{component.cid}}"
		class="xui-component xa-component xui-component-rect"
		style="
			z-index:{{component.model.zindex}}; 
			background-color:{{component.model.fill_color}}; 
			width:100%; 
			height:100%;
		"
	>
		<div class="xui-i-resizer xui-i-topLeftResizer xa-leftResizer xa-topResizer"></div>
		<div class="xui-i-resizer xui-i-topRightResizer xa-rightResizer xa-topResizer"></div>
		<div class="xui-i-resizer xui-i-bottomLeftResizer xa-leftResizer xa-bottomResizer"></div>
		<div class="xui-i-resizer xui-i-bottomRightResizer xa-rightResizer xa-bottomResizer"></div>
	</div>
{% endifequal %}
