{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fansPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/config/sources/">配置</a></li>
		<li><a href="/config/actors/">操作人</a></li>
		<li class="active">{% if actor %}更新操作人{% else %}添加操作人{% endif %}</li>
	</ul>
	
	<form 
		class="form-horizontal mt15 {% if fans %}xui-updateForm{% endif %}" 
		method="post" 
		id="editForm" 
	>
		<fieldset>
			<legend>
			</legend>
			
			<div class="form-group ml15">
				<label class="control-label fl" for="user">操作人</label>
					<div class="fl">
						<select class="form-control w200 ml5" name="user" data-validate="require-select">
							<option value="-1">请选择</option>
							{% for user in users %}
							<option value="{{user.id}}">{{user.first_name}}</option>
							{% endfor %}
						</select>
						<div class="errorHint ml5" data-error-hint="请选择一个有效操作人"></div>
					</div>
				</div>
		</fieldset>
		
		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit xui-fontBold" href="javascript:void(0);">保 存</a>
		</div>
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
	// var inUpdateMode = {% if actor %}true{% else %}false{% endif %};
	var objectId = "{{actor.id}}";

	$(document).ready(function() {
		// $('[name="name"]').focus();

		$('input').keypress(function(event) {
			if (event.which === 13) {
				event.preventDefault();
				event.stopPropagation();
				$('form').submit();
			}
		});

		$('.xa-submit').click(function() {
			$('form').submit();
		});
		
		$('form').submit(function() {
			if (!W.validate()) {
				return;
			}

			var method = 'put';
			// if (inUpdateMode) {
			// 	method = 'post';
			// }

			var $form = $('form');
			var data = $form.serializeObject();
			// if (inUpdateMode) {
			// 	data['id'] = objectId;
			// }			

			W.getApi().call({
				app: 'config',
				resource: 'actor',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '创建成功');
					_.delay(function() {
						window.location.href = '/config/actors/';
					}, 500);
				},
				error: function(resp) {
					W.showHint('error', '创建失败，请稍后再试！');
				}
			});
			return false;
		});
	});
</script>
{% endblock %}

