{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-actorsPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/config/sources/">配置</a></li>
			<li class="active">操作人</li>
		</ul>
	</div>
	
	<div class="panel panel-default xui-panel-table pl15 pr15 mt15">
		<div class="panel-header clearfix">
			<a href="/config/actor/" class="btn btn-success fr">
				<span class="glyphicon glyphicon-plus"></span> 添加操作人
			</a>
		</div>
		
		<div class="panel-body panel-table p0 mt5">
			<table class="table table-bordered mb10">
				<thead>
					<tr>
						<th width="50">#</th>
						<th>姓名</th>
						<th width="150">创建时间</th>
						<!-- <th width="60">操作</th> -->
					</tr>
				</thead>
				<tbody>
					{% if actors %}
					{% for actor in actors %}
					<tr data-id="{{actor.id}}">
						<td>{{forloop.counter}}</td>
						<td 
							class="tl pl5"
						>
						   <!-- <a href="/config/actor/?id={{actor.id}}"> -->
								{{actor.name}}
							<!-- </a> -->
						</td>
						<td>
							{{actor.created_at|date:'Y-m-d H:i'}}
						</td>
						<!-- <td>
							{% if actor.owner.is_current_user %}
							<a href="javascript:void(0);" class="xa-delete btn btn-danger btn-xs">删除</a>
							{% endif %}
						</td> -->
					</tr>
					{% endfor %}
					{% else %}
					<tr>
						<td colspan="4">没有操作人，请添加</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function() {	
	$('body').delegate('.xa-delete', 'click', function(event) {
		var $link = $(event.target);
		var $tr = $link.parents('tr');
		var id = $tr.data('id');
		var deleteData = function() {
			W.getApi().call({
				app: 'config',
				resource: 'actor',
				method: 'delete',
				args: {
					id: id,
				},
				success: function(data) {
					W.showHint('success', '删除成功，2秒后刷新');
					_.delay(function() {
						window.location.reload();
					}, 2000);
				},
				error: function() {
					W.showHint('error', '删除失败，请稍后再试');
				}
			})
		};
		W.requireConfirm({
			$el: $link,
			show_icon: false,
			position:'top',
			isTitle: false,
			msg: '确认删除该数据？',
			confirm: deleteData
		});
	});
});
</script>
{% endblock %}

