{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fansPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/config/sources/">配置</a></li>
		<li><a href="/config/sources/">粉丝来源</a></li>
		<li class="active">{% if source %}更新来源{% else %}添加来源{% endif %}</li>
	</ul>
	
	<form 
		class="form-horizontal mt15 {% if fans %}xui-updateForm{% endif %}" 
		method="post" 
		id="editForm" 
	>
		<fieldset >
			<legend>
			</legend>
			
			<div class="form-group ml15">
				<label class="control-label col-sm-2 " for="name">来源：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="name" name="name" placeholder="" value="{{source.name}}" data-validate="require-string" maxlength="20"/>
					<div class="errorHint"></div>
				</div>
			</div>
			
		</fieldset>
		
		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit xui-fontBold" href="javascript:void(0);">保 存</a>
		</div>
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
	var inUpdateMode = {% if source %}true{% else %}false{% endif %};
	var objectId = "{{source.id}}";

	$(document).ready(function() {
		$('[name="name"]').focus();
		
		$('.xa-submit').click(function() {
			if (!W.validate()) {
				return;
			}

			var method = 'put';
			if (inUpdateMode) {
				method = 'post';
			}

			var $form = $('form');
			var data = $form.serializeObject();
			if (inUpdateMode) {
				data['id'] = objectId;
			}			

			W.getApi().call({
				app: 'config',
				resource: 'source',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '创建成功');
					_.delay(function() {
						window.location.href = '/config/sources/';
					}, 500);
				},
				error: function(resp) {
					W.showHint('error', '创建失败，请稍后再试！');
				}
			});
		});
	});
</script>
{% endblock %}

