{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fansPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/config/sources/">配置</a></li>
		<li><a href="/config/suggestion_id/">反馈id</a></li>
		<li class="active">{% if suggestion_id %}更新反馈id{% else %}添加反馈id{% endif %}</li>
	</ul>
	
	<form 
		class="form-horizontal mt15 {% if fans %}xui-updateForm{% endif %}" 
		method="post" 
		id="editForm" 
	>
		<fieldset >
			<legend>
			</legend>
			<div class="form-group ml15">
				<label class="col-sm-1 " for="suggestion_id">反馈id：</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="suggestion_id" name="suggestion_id" placeholder="" value="{{suggestion_id.suggestion_id}}" data-validate="require-string" maxlength="100"/>
					<div class="errorHint"></div>
				</div>
			</div>
			<div class="form-group ml15">
				<label class=" col-sm-1 " for="name">反馈名称：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="name" name="name" placeholder="" value="{{suggestion_id.name}}" data-validate="require-string" maxlength="20"/>
					<div class="errorHint"></div>
				</div>
			</div>

            <div class="form-group ml15">
				<label class=" col-sm-1 " for="name">选择平台：</label>
				<select class="form-control w150 ml5" name="system_id" id="system_id" data-validate="require-select" value = "{{ suggestion_id.system_id }}">
                        <option value="-1">选择平台...</option>
                        <option value="3" {%if suggestion_id.system_id == 3%}selected="selected"{%endif%}>微众精选</option>
                        <option value="26" {%if suggestion_id.system_id == 26%}selected="selected"{%endif%}>微众妈妈</option>
                        <option value="27" {%if suggestion_id.system_id == 27%}selected="selected"{%endif%}>微众学生</option>
                        <option value="32" {%if suggestion_id.system_id == 32%}selected="selected"{%endif%}>微众俱乐部</option>
                        <option value="43" {%if suggestion_id.system_id == 32%}selected="selected"{%endif%}>微众商城</option>
                </select>
                <div class="errorHint ml5" data-error-hint="请选择投放平台"></div>
			</div>

			<div class="form-group ml15">
				<span>反馈id对应于云商通中的用户反馈中的反馈id，在 “应用和营销->用户反馈”(http://weapp.weizoom.com/apps/exsurvey/exsurveies/)页面点击想要添加的用户反馈名称，此编辑页面url中id参数后面的数字即为反馈id，<br/>如“http://weapp.weizoom.com/apps/exsurvey/exsurvey/?id=56cebba586b1889b35f6dfa5&related_page_id=56cebba586b1889b26242fc9”中反馈id为56cebba586b1889b35f6dfa5，切记不要弄错
				</span>
			</div>


		</fieldset>

		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit xui-fontBold" href="javascript:void(0);">保 存</a>
		</div>
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
	var inUpdateMode = {% if suggestion_id %}true{% else %}false{% endif %};
	var objectId = "{{suggestion_id.id}}";

	$(document).ready(function() {
		$('[name="suggestion_id"]').focus();

		$('input').keypress(function(event) {
			if (event.which === 13) {
				event.preventDefault();
				event.stopPropagation();
				$('form').submit();
			}
		});

		$('.xa-submit').click(function() {
			if (!W.validate()) {
				return;
			}
			$('form').submit();
		});
		
		$('form').submit(function() {
			var method = 'put';
			if (inUpdateMode) {
				method = 'post';
			}

			var $form = $('form');
			var data = $form.serializeObject();
			if (inUpdateMode) {
				data['id'] = objectId;
			}			

			W.getApi().call({
				app: 'config',
				resource: 'suggestion_id',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '反馈id创建成功！');
					_.delay(function() {
						window.location.href = '/config/suggestion_ids/';
					}, 500);
				},
				error: function(resp) {
					alert(resp.errMsg);
				}
			});
			return false;
		});
	});
</script>
{% endblock %}

