{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fansPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/config/sources/">配置</a></li>
		<li><a href="/config/supplier_setting/">供货商</a></li>
		<li class="active">更新供货商</li>
	</ul>
	
	<form 
		class="form-horizontal mt15 xui-updateForm"
		method="post" 
		id="editForm" 
	>
		<fieldset >
			<legend>
			</legend>
			<div class="form-group ml15">
				<label class="col-sm-1 " for="suggestion_id" style="width: 200px;">供货商名称： {{ supplier.name }}</label>

			</div>


            <div class="form-group ml15">
				<label class=" col-sm-1 " for="name" style="width: 200px;">选择供应商状态：</label>
				<select class="form-control w150 ml5" name="status" id="status" data-validate="require-select">
                        <option value="1" {%if supplier.status == 3 %}selected="selected"{%endif%}>服务中</option>
                        <option value="3" {%if supplier.status == 26 %}selected="selected"{%endif%}>已续费</option>
                        <option value="5" {%if supplier.status == 27 %}selected="selected"{%endif%}>已终止</option>

                </select>
			</div>
		   <div class="form-group ml15">
				<label class=" col-sm-1 " for="system" style="width: 200px;">平台：</label>
					{% for system_name in system_names %}
						{{system_name}}
					{% endfor %}

			</div>
            <div class="form-group clearfix">
				<label class="control-label col-sm-2" for="remark">备注</label>
				<div class="col-sm-8">
					<textarea
						name="remark"
						class="form-control ml5"
						style="width:100%; min-height:180px;overflow-y: scroll;"
					> {{ supplier.remark }}</textarea>
				</div>
			</div>

		</fieldset>

		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit xui-fontBold" href="javascript:void(0);">保 存</a>
		</div>
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
	var inUpdateMode =true;
	var objectId = "{{supplier.id}}";

	$(document).ready(function() {

		$('input').keypress(function(event) {
			if (event.which === 13) {
				event.preventDefault();
				event.stopPropagation();
				$('form').submit();
			}
		});

		$('.xa-submit').click(function() {
			if (!W.validate()) {
				return;
			}
			$('form').submit();
		});
		
		$('form').submit(function() {
			var method = 'put';
			if (inUpdateMode) {
				method = 'post';
			}

			var $form = $('form');
			var data = $form.serializeObject();
			if (inUpdateMode) {
				data['id'] = objectId;
			}			

			W.getApi().call({
				app: 'config',
				resource: 'supplier_setting',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '修改成功！');
					_.delay(function() {
						window.location.href = '/config/supplier_setting/';
					}, 500);
				},
				error: function(resp) {
					alert(resp.errMsg);
				}
			});
			return false;
		});
	});
</script>
{% endblock %}

