{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-productsPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/config/sources/">配置</a></li>
			<li class="active">供应商</li>
		</ul>
	</div>
		<div class="xui-searchPanel mt15 form-horizontal panel panel-default">
		<fieldset class="mt10">
			<div class="xui-form-row">
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="name">供货商</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="name"
							name="name"
						/>
					</div>
				</div>


				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="remark">备注</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="remark"
							name="remark"
						/>
					</div>
				</div>
			</div>
			<div class="mt20 tc">
				<a href="javascript:void(0);" class="btn btn-primary xa-search">查询</a>
				<a href="javascript:void(0);" class="btn btn-default xa-reset ml30">重置</a>
			</div>
		</fieldset>
	</div>
	<div class="panel panel-default xui-panel-table pl15 pr15 mt15">
        <div
			class="panel-body panel-table p0 mt5"
			data-ui-role="advanced-table"
			data-app="config"
			data-resource="supplier_setting"
			data-template-id="#table"
			data-enable-paginator="true"
			data-enable-sort="false"
			data-selectable="false"
			data-disable-header-select="true"
			data-item-count-per-page="20"
			data-auto-load="false"
		>
		</div>

	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
{{if items!='' }}
<table class="table table-bordered mb10">
    <thead>
        <tr>
            <th width="50">#</th>
            <th width="150">供应商名称</th>
            <th width="150">负责人名称</th>
            <th width="150">状态</th>
            <th width="150">创建时间</th>
            <th width="70">操作</th>
        </tr>
    </thead>
    <tbody>
      {{each(i, item) items}}
        <tr data-id="${item.id}">
            <td>${ i+1 }</td>
            <td>
                <span class=""><a href="/config/supplier_setting?id=${ item.id }">${item.name}</a></span>
            </td>
            <td>
                <span class="">${item.responsible_person}</span>
            </td>
            <td><a href="/config/supplier_setting?id=${ item.id }"> ${item.status}</a></td>
            <td>${item.created_at}</td>
            <td><a href="javascript:void(0);" class="xa-delete btn btn-danger btn-xs">删除</a></td>
        </tr>
        {{/each}}
    </tbody>
    <div class="cb"></div>
</table>
{{else}}
    <div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
        <span class="ml20">您还没有供货商！</span>
    </div>
{{/if}}
<br>
</script>
{% endverbatim %}
<script type="text/javascript">
$(document).ready(function() {


    $('.xa-search').click(function(event) {
            var name = $.trim($('[name="name"]').val());
            var remark = $.trim($('[name="remark"]').val());

            var table = $('[data-ui-role="advanced-table"]').data('view');
            table.reload({
                name: name,
                remark: remark
            }, {
                emptyDataHint: '没有符合条件的数据'
            });
	    });

        $('.xa-reset').click(function(event) {
            $('[name="name"]').val('');
            $('[name="setting_id"]').val('');
            $('#start_date').val('');
            $('#end_date').val('');
            $('[name="system_id"]').val('-1');
	    });

	$('body').delegate('.xa-delete', 'click', function(event) {
		var $link = $(event.target);
		var $tr = $link.parents('tr');
		var id = $tr.data('id');
		var deleteData = function() {
			W.getApi().call({
				app: 'config',
				resource: 'supplier_setting',
				method: 'delete',
				args: {
					id: id,
				},
				success: function(data) {
					W.showHint('success', '删除成功，2秒后刷新');
					_.delay(function() {
						window.location.reload();
					}, 2000);
				},
				error: function() {
					W.showHint('error', '删除失败，请稍后再试');
				}
			})
		}

		W.requireConfirm({
			$el: $link,
			show_icon: false,
			position:'top',
			isTitle: false,
			msg: '确认删除该数据？',
			confirm: deleteData
		});
	});
});
</script>
{% endblock %}

