{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fans-cardsPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/fans/fanses/">粉丝</a></li>
			<li class="active">微众卡列表</li>
		</ul>
	</div>

	<div class="xui-searchPanel mt15 form-horizontal panel panel-default">
		<fieldset class="mt10">
			<div class="xui-form-row">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="nickname">昵称</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="nickname" 
							name="nickname"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="weixin_account">服务微信</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="weixin_account">
							<option value="-1">选择来源...</option>
							{% for weixin_account in weixin_accounts %}
							<option value="{{weixin_account.id}}">{{weixin_account.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="system_card">微众卡</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="system_card">
							<option value="-1">选择微众卡...</option>
							{% for system_card in system_cards %}
							<option value="{{system_card.id}}">{{system_card.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="system_account">系统账号</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="system_account">
							<option value="-1">选择系统账号...</option>
							{% for system_account in system_accounts %}
							<option value="{{system_account.id}}">{{system_account.first_name}}</option>
							{% endfor %}
							<option value="3">微众精选</option>
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="status">状态</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="status">
							<option value="-1">全部</option>
							<option value="0">未使用</option>
							<option value="1">已使用</option>
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="number">卡号</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="number" 
							name="number"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
				</div>
			</div>

			<div class="form-group mt20 tc">
				<a href="javascript:void(0);" class="btn btn-primary xa-search">查询</a>
				<a href="javascript:void(0);" class="btn btn-default xa-reset ml30">重置</a>
			</div>
		</fieldset>
	</div>
	
	<div class="panel panel-default xui-panel-table pl15 pr15 mt30">
		<div class="panel-header clearfix">
			<a href="/fans/card/" class="btn btn-success fr">
				<span class="glyphicon glyphicon-plus"></span> 发放微众卡
			</a>
		</div>
		
		<div 
			class="panel-body panel-table p0 mt5"
			data-ui-role="advanced-table" 
			data-app="fans" 
			data-resource="cards" 
			data-template-id="#table" 
			data-enable-paginator="true" 
			data-enable-sort="false" 
			data-selectable="false" 
			data-disable-header-select="true" 
			data-item-count-per-page="10" 
			data-auto-load="false"
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th width="40">#</th>
				<th>粉丝</th>
				<th>发卡人</th>
				<th>微众卡</th>
				<th>卡号</th>
				<th>密码</th>
				<th width="60">状态</th>
				<th>备注</th>
				<th width="80">服务微信</th>
				<th width="100">发放时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td>${item.index}</td>
				<td>
					<span class="xui-bold"><a href="/fans/fans/?id=${item.fans.id}">${item.fans.nickname}</a></span>
					<div style="font-size:12px; color:#AAA; margin-top:5px;">
					微博: ${item.fans.weibo_id}<br/>
					微信: ${item.fans.weixin_id}
					</div>
				</td>
				<td>${item.owner.first_name}</td>
				<td>${item.card.name}</td>
				<td><a href="/fans/card/?id=${item.id}">${item.number}</a></td>
				<td>${item.password}</td>
				<td>
					<span class="xa-statusText {{if item.status_text == '未使用'}}xui-i-notUsedCard{{else}}xui-i-usedCard{{/if}}">${item.status_text}</span>
				</td>
				<td>${item.remark}</td>
				<td>${item.weixin_account.name}</td>
				<td>${item.created_at}</td>
				<td>
					{{if item.owner.is_current_user}}
					{{if item.status_text == '未使用'}}
					<a href="javascript:void(0);" class="xa-consume btn btn-success btn-xs">使用</a>
					{{/if}}
					<a href="javascript:void(0);" class="xa-delete btn btn-danger btn-xs">删除</a>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">您还没有发放微众卡，请发放微众卡！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {	
	$('.xa-search').click(function(event) {
		var nickname = $.trim($('[name="nickname"]').val());
		var weixin_account = $.trim($('[name="weixin_account"]').val());
		var system_card = $.trim($('[name="system_card"]').val());
		var status = $.trim($('[name="status"]').val());
		var number = $.trim($('[name="number"]').val());
		var systemAccount = $.trim($('[name="system_account"]').val());

		var table = $('[data-ui-role="advanced-table"]').data('view');
		table.reload({
			nickname: nickname,
			weixin_account: weixin_account,
			system_card: system_card,
			number: number,
			status: status,
			system_account: systemAccount
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});
	
	$('.xa-reset').click(function(event) {
		$('[name="nickname"]').val('');
		$('[name="weixin_account"]').val('-1');
		$('[name="system_card"]').val('-1');
		$('[name="status"]').val('-1');
	});

	$('body').delegate('.xa-consume', 'click', function(event) {
		var $link = $(event.target);
		var $tr = $link.parents('tr');
		var id = $tr.data('id');

		var handler = function() {
			W.getApi().call({
				app: 'fans',
				resource: 'card_status',
				method: 'post',
				args: {
					id: id,
					status: 'used'
				},
				success: function(data) {
					W.showHint('success', '更新成功');
					$tr.find('.xa-statusText').text('已使用').removeClass('xui-i-notUsedCard').addClass('xui-i-usedCard');
					$link.hide();
				},
				error: function() {
					W.showHint('error', '更新失败，请稍后再试');
				}
			})
		}

		W.requireConfirm({
			$el: $link,
			show_icon: false,
			position:'top',
			isTitle: false,
			msg: '确认微众卡已使用？',
			confirm: handler
		});
	})

	$('body').delegate('.xa-delete', 'click', function(event) {
		var $link = $(event.target);
		var $tr = $link.parents('tr');
		var id = $tr.data('id');

		var handler = function() {
			W.getApi().call({
				app: 'fans',
				resource: 'card',
				method: 'delete',
				args: {
					id: id
				},
				success: function(data) {
					W.showHint('success', '删除成功!');
					$tr.remove();
				},
				error: function() {
					W.showHint('error', '删除失败，请稍后再试');
				}
			})
		}

		W.requireConfirm({
			$el: $link,
			show_icon: false,
			position:'top',
			isTitle: false,
			msg: '确认删除该数据？',
			confirm: handler
		});
	})
});
</script>
{% endblock %}

