{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-couponHistoryPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/fans/fanses/">粉丝</a></li>
			<li class="active">优惠券发放记录</li>
		</ul>
	</div>

	<div class="xui-searchPanel mt15 form-horizontal panel panel-default">
		<fieldset class="mt10">
			<div class="xui-form-row">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="nickname">昵称</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="nickname" 
							name="nickname"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="is_success">状态</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="is_success">
							<option value="-1">全部</option>
							<option value="1">发放成功</option>
							<option value="0">发放失败</option>
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="weapp_coupon_id">优惠券码</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="weapp_coupon_id" 
							name="weapp_coupon_id"
						/>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="weapp_member_id">云商通会员id</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="weapp_member_id" 
							name="weapp_member_id"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="coupon_rule_name">优惠券规则名称</label>
					<div class="fl">
						<input 
							type="text" 
							class="form-control w150 ml5" 
							id="coupon_rule_name" 
							name="coupon_rule_name"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl mr5" for="content">发放时间</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="start_date"
						name="start_date"
						style=""
						value=""
						readonly="readonly"
						data-enable-select-time="true"
						data-ui-role="datepicker"
						data-format="yy-mm-dd"
						data-max="now" 
						data-max-el="#end_date"/>
					<label class="control-label fl ml5 mr5" for="content" style="width:15px">至</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="end_date"
						name="end_date"
						value=""
						readonly="readonly"
						data-ui-role="datepicker"
						data-enable-select-time="true"
						data-format="yy-mm-dd"
						data-max="now"
						data-min-el="#start_date"/>
				</div>
			</div>

			<div class="form-group mt20 tc clearboth">
				<a href="javascript:void(0);" class="btn btn-primary xa-search">查询</a>
				<a href="javascript:void(0);" class="btn btn-default xa-reset ml30">重置</a>
			</div>
		</fieldset>
	</div>
	
	<div class="panel panel-default xui-panel-table pl15 pr15 mt30">
		<div 
			class="panel-body panel-table p0 mt5"
			data-ui-role="advanced-table" 
			data-app="fans" 
			data-resource="coupon_history" 
			data-template-id="#table" 
			data-enable-paginator="true" 
			data-enable-sort="false" 
			data-selectable="false" 
			data-disable-header-select="true" 
			data-item-count-per-page="20" 
			data-auto-load="false"
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th width="40">#</th>
				<th>粉丝</th>
				<th>反馈id</th>
				<th>云商通会员id</th>
				<th>优惠券规则id</th>
				<th>优惠券规则名称</th>
				<th>优惠券码</th>
				<th>价值</th>
				<th width="80">状态</th>
				<th>失败原因</th>
				<th width="100">发放时间</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td>${item.index}</td>
				<td>
					<span class="xui-bold"><a href="/fans/fans/?id=${item.fans_id}">${item.fans_name}</a></span>
				</td>
				<td>${item.suggestion_id}</td>
				<td>${item.weapp_member_id}</td>
				<td>${item.weapp_rule_id}</td>
				<td>${item.coupon_rule_name}</td>
				<td>${item.weapp_coupon_id}</td>
				<td>${item.money}</td>
				<td>${item.is_success}</td>
				<td>${item.reason}</td>
				<td>${item.created_at}</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">您还没有发放优惠券！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {	
	$('.xa-search').click(function(event) {
		var nickname = $.trim($('[name="nickname"]').val());
		var is_success = $.trim($('[name="is_success"]').val());
		var weapp_coupon_id = $.trim($('[name="weapp_coupon_id"]').val());
		var weapp_member_id = $.trim($('[name="weapp_member_id"]').val());
		var coupon_rule_name = $.trim($('[name="coupon_rule_name"]').val());
		var start_date = $.trim($('[name="start_date"]').val());
		var end_date = $.trim($('[name="end_date"]').val());

		if(start_date.length > 0 && end_date.length == 0){
			W.showHint('error', '请输入结束日期!');
			return;
		}
		if(end_date.length > 0 && start_date.length == 0){
			W.showHint('error', '请输入开始日期!');
			return;
		}

		var table = $('[data-ui-role="advanced-table"]').data('view');
		table.reload({
			nickname: nickname,
			is_success: is_success,
			weapp_coupon_id: weapp_coupon_id,
			weapp_member_id: weapp_member_id,
			coupon_rule_name: coupon_rule_name,
			start_date: start_date,
			end_date: end_date
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});
	
	$('.xa-reset').click(function(event) {
		$('[name="nickname"]').val('');
		$('[name="is_success"]').val('-1');
		$('[name="weapp_coupon_id"]').val('');
		$('[name="weapp_member_id"]').val('');
		$('[name="coupon_rule_name"]').val('');
		$('[name="start_date"]').val('');
		$('[name="end_date"]').val('');
	});


	// 初始化日历控件
	var addDatepicker = function() {
		var _this = this;
		$('input[data-ui-role="datepicker"]').each(function() {
			var $datepicker = $(this);
			var format = $datepicker.attr('data-format');
			var min = $datepicker.attr('data-min');
			var max = $datepicker.attr('data-max');
			var $min_el = $($datepicker.attr('data-min-el'));
			var $max_el = $($datepicker.attr('data-max-el'));
			var options = {
				buttonText: '选择日期',
				currentText: '当前时间',
				hourText: "小时",
				minuteText: "分钟",
				numberOfMonths: 1,
				dateFormat: format,
				//dateFormat: format,
				closeText: '确定',
				prevText: '&#x3c;上月',
				nextText: '下月&#x3e;',
				monthNames: ['一月','二月','三月','四月','五月','六月',
					'七月','八月','九月','十月','十一月','十二月'],
				monthNamesShort: ['一','二','三','四','五','六',
					'七','八','九','十','十一','十二'],
				dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
				dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
				dayNamesMin: ['日','一','二','三','四','五','六'],
				beforeShow: function(e) {
					if(min === 'now') {
						$(this).datepicker('option', 'minDate', new Date());
					}else if(min){
						$(this).datepicker('option', 'minDate', min);
					}

					if($min_el){
						var startTime = $min_el.val();
						if(startTime) {
							$(this).datepicker('option', 'minDate', startTime);
							$(this).datepicker('option', 'minDateTime', new Date(startTime));
						}
					}

					if(max === 'now') {
						$(this).datepicker('option', 'maxDate', new Date());
					}else if(max){
						$(this).datepicker('option', 'maxDate', max);
					}

					if($max_el){
						var endTime = $max_el.val();
						if(endTime) {
							$(this).datepicker('option', 'maxDate', endTime);
						}
					}
				},
				onClose: function() {
				}
			};

			$datepicker.datepicker(options);
		});
	};
	addDatepicker();
});
</script>
{% endblock %}

