{% extends "content_base.html" %}
{% load common_filter %}

{% block content-panel %}
<div class="xui-fansPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/fans/fanses/">粉丝</a></li>
		<li><a href="/fans/fanses/">粉丝列表</a></li>
		<li class="active">{% if fans %}编辑粉丝{% else %}添加粉丝{% endif %}</li>
	</ul>

	<div class="panel panel-default mt15 pb15 mb0">
		<legend class="pl15 pb5 pt5">
			查询推荐人
		</legend>
		<div class="panel-header pl15 pr15">
			推荐人昵称：<input type="text" name="nickname" class="form-control xui-inlineblock w200" {% if fans %}value="{{ fans.referee }}"{% endif %} /><a href="javascript:void(0);" class="btn btn-success btn-sm ml20 xa-search">查询推荐人</a>
		</div>
		<div
			class="panel-body panel-table p0 mt15 pl15 pr15"
			data-ui-role="advanced-table"
			data-app="fans"
			data-resource="fanses"
			data-template-id="#table"
			data-enable-paginator="true"
			data-enable-sort="false"
			data-selectable="false"
			data-auto-load="false"
			data-disable-header-select="true"
			data-item-count-per-page="10" 
			{% if fans %}
			data-args='{"fans_id": {{fans.id}}}'
			{% endif %}
		>
		</div>
	</div>

	<form
		class="form-horizontal mt15 {% if fans %}xui-updateForm{% endif %} panel panel-default"
		method="post"
		id="editForm"
		data-id="{% if activity %}{{ activity.id }}{% else %}0{% endif %}"
	>
		<fieldset >
			<legend class="pl15 pb5 pt5">
				粉丝信息
			</legend>
			<div class="xui-form-row">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="nickname">昵称</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="nickname" name="nickname"
							placeholder=""
							value="{% if fans %}{{ fans.nickname }}{% endif %}"
							data-validate="require-notempty"
							maxlength="50"
						/>
						<div class="errorHint ml5"></div>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="weixin_id">微信ID</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="weixin_id" name="weixin_id"
							placeholder=""
							value="{% if fans %}{{ fans.weixin_id }}{% endif %}"
							maxlength="50"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="weibo_id">微博ID</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="weibo_id" name="weibo_id"
							placeholder=""
							value="{% if fans %}{{ fans.weibo_id }}{% endif %}"
							maxlength="50"
						/>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="name">真实姓名</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="name" name="name"
							placeholder=""
							value="{% if fans %}{{ fans.name }}{% endif %}"
							maxlength="20"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="phone">电话</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="phone" name="phone"
							placeholder=""
							value="{% if fans %}{{ fans.phone }}{% endif %}"
							maxlength="50"
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="address">地域</label>
					<div class="fl ml5">
						<input
							type="hidden"
							data-ui-role="address-selector"
							name="address"
							id="address"
							value='{% if fans %}{{ fans.address|to_json|safe }}{% endif %}'
							data-json='{% if fans %}{{ fans.address|to_json|safe }}{% endif %}'
						/>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="referee">推荐人</label>
					<div class="fl">
						<input type="hidden" name="referee_id" {% if fans %}value="{{ fans.referee_id }}"{% endif %}/>
						<input
							type="text"
							class="form-control w200 ml5"
							id="referee" name="referee"
							placeholder=""
							value="{% if fans %}{{ fans.referee }}{% endif %}"
							maxlength="50"
							disabled
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="source">来源</label>
					<div class="fl">
						<select name="source" class="form-control w150 ml5 xui-inlineblock" data-validate="require-select">
							<!-- <option value="-1">选择来源</option> -->
							{% for source in sources %}
							<option value="{{source.id}}" {% if source.id == fans.source.id %}selected="selected"{% endif %}>{{source.name}}</option>
							{% endfor %}
						</select>
						<!-- <a href="/config/source/" class="ml5">+添加</a> -->
						<div class="errorHint ml5" data-error-hint="请选择一个有效来源"></div>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="inner_id">云商通ID</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="inner_id" name="inner_id"
							placeholder=""
							value="{% if fans %}{{ fans.inner_id }}{% endif %}" 
							data-validate="require-int"
							maxlength="50" 
						/>
						<div class="errorHint ml5"></div>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="grade">互动级别</label>
					<div class="fl">
						<select class="form-control w200 ml5" name="grade">
							<option value="0" {% if fans.grade == 0 %}selected{% endif %}>无星</option>
							<option value="1" {% if fans.grade == 1 %}selected{% endif %}>1星</option>
							<option value="2" {% if fans.grade == 2 %}selected{% endif %}>2星</option>
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="hub_grade">传播级别</label>
					<div class="fl">
						<select class="form-control w200 ml5" name="hub_grade">
							<option value="0" {% if fans.hub_grade == 0 %}selected{% endif %}>无星</option>
							<option value="1" {% if fans.hub_grade == 1 %}selected{% endif %}>1星</option>
							<option value="2" {% if fans.hub_grade == 2 %}selected{% endif %}>2星</option>
						</select>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="score">积分</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="score" name="score"
							placeholder=""
							value="{% if fans %}{{ fans.score }}{% else %}0{% endif %}"
							data-validate="require-int"
						/>
						<div class="errorHint ml5"></div>
					</div>
				</div>


			</div>

			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="referee">推荐级别</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="refer_level" name="refer_level"
							placeholder=""
							value="{{ fans.refer_level }}"
							maxlength="50"
							disabled
						/>
					</div>
				</div>

				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="actor">操作人</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="actor" data-validate="require-select">
							<option value="-1">选择操作人...</option>
							{% for actor in actors %}
							<option value="{{actor.id}}" {%if fans.actor_id == actor.id%}selected="selected"{%endif%}>{{actor.name}}</option>
							{% endfor %}
						</select>
						<div class="errorHint ml5" data-error-hint="请选择一个操作人"></div>
					</div>
				</div>
				<div class="form-group xui-form-item clearfix">
					<label class="control-label fl" for="system_account">平台</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w200 ml5"
							id="system_account" name="system_account"
							placeholder=""
							value="{{ system_account.first_name }}"
							maxlength="50"
							disabled
						/>
					</div>
				</div>
				
			</div>
			<div class="xui-form-row mt10">
				<div class="form-group xui-form-item clearfix" style="width:67%;">
					<label class="control-label fl" for="remark">备注</label>
					<div class="fl" style="width:67%;">
						<!-- <input
							type="textarea"
							class="form-control ml5"
							id="remark" name="remark"
							placeholder=""
							value="{% if fans %}{{ fans.remark }}{% endif %}"
						/> -->
						<textarea class="form-control ml5" id="remark" name="remark" rows="3">{% if fans %}{{ fans.remark }}{% endif %}</textarea>
					</div>
				</div>
				<div class="form-group xui-form-item clearfix"></div>
			</div>

		</fieldset>

		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit" href="javascript:void(0);" {% if not system_account%}disabled{%endif%}>保&nbsp;&nbsp;存</a>
		</div>
	</form>

	<div class="mt30 panel panel-default xui-paddedPanel" style="background-color: #FFF;">
		<ul class="nav nav-tabs xa-tabs" role="tablist">
			<li class="active"><a href="#suggestion" data-toggle="tab">互动意见</a></li>
			<li><a href="#prize" data-toggle="tab">奖励信息</a></li>
			<li><a href="#friend" data-toggle="tab">好友信息</a></li>
			<li><a href="#consume" data-toggle="tab">消费详情</a></li>
		</ul>
		<div class="tab-content xui-paddedPanel-content">
			<div class="tab-pane active fade in" id="suggestion">

                <div class="mt10 tr">
					<a href="/fans/suggestion/?fans_id={{fans.id}}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 添加意见</a>
				</div>
                <div
                    class="panel-body panel-table p0 mt5"
                    data-ui-role="advanced-table"
                    data-app="fans"
                    data-resource="fans_suggestion"
                    data-template-id="#table_sugg"
                    data-enable-paginator="true"
                    data-enable-sort="false"
                    data-selectable="false"
                    data-disable-header-select="true"
                    data-item-count-per-page="20"
                    data-auto-load="false"
                    {% if fans %}
					data-args='{"fans_id": "{{fans.id}}"}'
					{% endif %}
                >
                </div>
			</div>

			<div class="tab-pane fade" id="prize">
				{% if coupon_histories %}
				<table class="table table-bordered mb10">
					<thead>
						<tr>
							<th width="40">#</th>
							<th>反馈id</th>
							<th>优惠券规则id</th>
							<th>优惠券规则名称</th>
							<th>优惠券码</th>
							<th>价值</th>
							<th width="80">状态</th>
							<th width="100">发放时间</th>
						</tr>
					</thead>
					<tbody>
						{% for item in coupon_histories %}
						<tr data-id="{{item.id}}">
							<td>{{item.index}}</td>
							<td>{{item.suggestion_id}}</td>
							<td>{{item.weapp_rule_id}}</td>
							<td>{{item.coupon_rule_name}}</td>
							<td>{{item.weapp_coupon_id}}</td>
							<td>{{item.money}}</td>
							<td>{{item.is_success}}</td>
							<td>{{item.created_at}}</td>
						</tr>
						{% endfor %}
					</tbody>
					<div class="cb"></div>
				</table>
				{% else %}
				<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
					<span class="ml20">该粉丝还没有获得奖励！</span>
				</div>
				{% endif %}
			</div>
			<div class="tab-pane fade" id="friend">
				<div
					class="panel-body panel-table p0 mt15 pl15 pr15"
					data-ui-role="advanced-table"
					data-app="fans"
					data-resource="fanses"
					data-template-id="#friend_table"
					data-enable-paginator="true"
					data-enable-sort="false"
					data-selectable="false"
					data-auto-load="false"
					data-disable-header-select="true"
					data-item-count-per-page="20" 
					{% if fans %}
					data-args='{"referee_id": "{{fans.id}}"}'
					{% endif %}
				>
				</div>
			</div>
			<div class="tab-pane fade" id="consume">
				<div
					class="panel-body panel-table p0 mt15 pl15 pr15"
					data-ui-role="advanced-table"
					data-app="fans"
					data-resource="orders"
					data-template-id="#order-list"
					data-enable-paginator="true"
					data-enable-sort="false"
					data-selectable="false"
					data-auto-load="false"
					data-disable-header-select="true"
					data-item-count-per-page="20" 
					{% if fans %}
					data-args='{"member_id": "{{fans.inner_id}}", "owner_name": "{{fans.owner.username}}"}'
					{% endif %}
				>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block js %}
{% verbatim %}

<script type="text/javascript">
　　var user = { ID: 'think8848', Name: 'Joseph Chan', html: '<button>html</button>' };
  　$("#html").tmpl(user).appendTo('#div_html');
</script>
<script id="table_sugg" type="text/x-jquery-tmpl">
<table class="table table-bordered mb10 mt10 xui-i-table">
    <thead>
        <tr>
            <th>意见</th>
            <th width="60">创建人</th>
            <th width="80">商家</th>
            <th width="80">产品</th>
            <th width="80">反馈级别</th>
            <th width="80">反馈奖励金额</th>
            <th width="100">备注</th>
            <th width="100">互动时间</th>
            <th width="150">操作</th>
        </tr>
    </thead>
    <tbody>

        {{if items!='' }}
        {{each(i, item) items}}
        <tr data-id="${item.id}" data-resource="item" class="xui-i-expandable xa-expand">
            <td>
                {{html item.normalized_content}}
                {{if item.duplicate_with == -1}}
                    &nbsp;&nbsp;
                    <span style="color:red;">无价值的调研内容</span>
                {{else}}
                {{/if}}
                 {{if item.duplicate_fans_id !=''}}
                    &nbsp;&nbsp;
                    <span style="color:red;">
                        与用户<a href="/fans/fans/?id=${item.duplicate_fans_id}" target="_blank">${suggestion.duplicate_fans_name}</a>的反馈信息重复
                    </span>
                {{else}}
                {{/if}}
            </td>
            <td>${item.first_name}</td>
            <td>${item.company_name}</td>
            <td>${item.product_name}</td>
            <td>${item.type_name}</td>
            <td>${item.reward}</td>
            <td>${item.remark}</td>
            <td>${item.created_at}</td>
            <td>
                {{if item.is_current_user == false}}
                {{else}}
                    <a target="_blank" href="/fans/suggestion_progresses/?suggestion_id=${item.id}" class="btn btn-primary btn-xs">改善</a>
                    <a target="_blank" href="/fans/suggestion/?id=${item.id}&fans_id={{fans.id}}" class="btn btn-default btn-xs">编辑</a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-xs xa-delete">删除</a>
                {{/if}}
            </td>
        </tr>

        <tr class="xui-i-expanded xui-hide" data-related-suggestion-id="${item.id}">
            <td colspan="9" class="xui-i-content">
                <h2 class="xui-i-contentHeader">原始意见:</h2>
                {{html item.content}}
            </td>
        </tr>
       {{/each}}
       {{else}}
        <tr>
            <td colspan="8">没有互动意见，请添加</td>
        </tr>
       {{/if}}
    </tbody>
</table>
</script>

<script id="order-list" type="text/x-jquery-tmpl">
{{if items!='' }}
	{{each(i, item) items}}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th>订单号</th>
				<th>下单时间</th>
				<th>订单状态</th>
				<th>优惠券金额</th>
				<th>积分抵扣金额</th>
				<th>微众卡金额</th>
				<th>实付金额</th>
				<th>收货人</th>
				<th>电话</th>
				<th>收货地址</th>
			</tr>
		</thead>
		<tr>
			<td>${item.order_id}</td>
			<td>${item.created_at}</td>
			<td>${item.status}</td>
			<td>${item.coupon_money}</td>
			<td>${item.integral_money}</td>
			<td>${item.weizoom_card_money}</td>
			<td>${item.final_price}</td>
			<td>${item.ship_name}</td>
			<td>${item.ship_tel}</td>
			<td>${item.ship_info}</td>
		</tr>
		{{each(i, product) item.products}}
		<tr>
			<td>商品信息：</td>
			<td>供应商：${product.supplier_name}</td>
			<td colspan="4">商品名：${product.product_name}</td>
			<td colspan="2">单价：${product.price}</td>
			<td colspan="2">数量：${product.number}</td>
		</tr>
		{{/each}}
	</table>
	<br/>
	{{/each}}
{{else}}
	<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
		<span class="ml20">该粉丝还没有购买过！</span>
	</div>
{{/if}}
</script>
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th>昵称</th>
				<th>微信ID</th>
				<th>云商通ID</th>
				<th>推荐人</th>
				<th>等级</th>
				<th>来源</th>
				<th>推荐级别</th>
				<th>加入时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}" data-nickname="${item.nickname}" data-level="${item.refer_level}">
				<td class="tl pl5">
				   <a href="/fans/fans/?id=${item.id}"> ${item.nickname} </a>
				</td>
				<td>${item.weixin_id}</td>
				<td>${item.inner_id}</td>
				<td>${item.referee}</td>
				<td>${item.grade}星</td>
				<td>${item.source}</td>
				<td>${item.refer_level}级品鉴师</td>
				<td>${item.created_at}</td>
				<td>
					{{if item.id == data.fans_id}}
					{{else}}
					<a href="javascript:void(0);" class="xa-select btn btn-success btn-xs">选中</a>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">您还没有粉丝，请添加粉丝！</span>
		</div>
	{{/if}}
	<br>
</script>

<script id="friend_table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th>昵称</th>
				<th>微信ID</th>
				<th>云商通ID</th>
				<th>类别</th>
				<th>推荐人数</th>
				<th>反馈数</th>
				<th>被采纳反馈数</th>
				<th>优惠券价值</th>
				<th>支付金额</th>
				<th>客单价</th>
				<th>下单次数</th>
				<th>最近支付时间</th>
				<th>加入时间</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td class="tl pl5">
				   <a href="/fans/fans/?id=${item.id}"> ${item.nickname} </a>
				</td>
				<td>${item.weixin_id}</td>
				<td>${item.inner_id}</td>
				<td>${item.source}</td>
				<td>${item.refer_count}</td>
				<td>${item.suggestion_count}</td>
				<td>${item.accepted_suggestion_count}</td>
				<td>${item.total_coupon_money}</td>
				<td>${item.pay_money}</td>
				<td>${item.unit_price}</td>
				<td>${item.pay_times}</td>
				<td>${item.last_pay_time}</td>
				<td>${item.created_at}</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">该粉丝还没有推荐过其他人！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript" src="/static/js/system/address.js"></script>
<script type="text/javascript">
	var inUpdateMode = {% if fans %}true{% else %}false{% endif %};
	var fansId = "{{fans.id}}";

	$(document).ready(function() {
		$('.xa-tabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});

		$('body').delegate('.xa-delete', 'click', function (event) {
			event.stopPropagation();
			event.preventDefault();

			var $link = $(event.target);
			var $tr = $link.parents('tr');
			var resource = $tr.data('resource');
			var id = $tr.data('id');

			W.requireConfirm({
				$el: $link,
				show_icon: false,
				position:'top',
				isTitle: false,
				msg: '确认删除该数据？',
				confirm: function() {
					W.getApi().call({
						app: 'fans',
						resource: resource,
						method: 'delete',
						args: {
							id: id
						},
						success: function(data) {
							W.showHint('success', '删除成功!');
							$tr.remove();
						},
						error: function(resp) {
							W.showHint('error', '删除失败!');
						}
					})
				}
			});
		});

		$('body').delegate('.xa-expand', 'click', function (event) {
			var $el = $(event.target);
			if ($el.attr('href')) {
				return;
			} else {
				event.stopPropagation();
				event.preventDefault();
				var $tr = $(event.currentTarget);
				var id = $tr.data('id');
				$('[data-related-suggestion-id="'+id+'"]').toggle(100);
			}
		});

		$('.xa-submit').click(function() {
			if (!W.validate()) {
				return;
			}

			var method = 'put';
			if (inUpdateMode) {
				method = 'post';
			}

			var $form = $('form');
			var data = $form.serializeObject();
			if (inUpdateMode) {
				data['id'] = fansId;
			}
			var address = $.parseJSON(data.address);
			data['province_id'] = address.province.id;
			data['province_name'] = address.province.name;
			data['city_id'] = address.city.id;
			data['city_name'] = address.city.name;

			W.getApi().call({
				app: 'fans',
				resource: 'fans',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '创建/更新成功');
					_.delay(function() {
						window.location.href = '/fans/fanses/';
					}, 500);
				},
				error: function(resp) {
					alert(resp.errMsg);
				}
			});
		});


		/* 有关选择推荐人的功能 */
		var searchFans = function() {
			var nickname = $.trim($('[name="nickname"]').val());
			var table = $('[data-ui-role="advanced-table"]').data('view');
			table.reload({
				nickname: nickname
			}, {
				emptyDataHint: '没有符合条件的数据'
			});
		}

		$('.xa-search').click(function(event) {
			searchFans();
		});

		$('body').delegate('.xa-select', 'click', function(event) {
			var $link = $(event.currentTarget);
			var $tr = $link.parents('tr');
			var fansId = $tr.data('id');
			var fansNickname = $tr.data('nickname');
			$('[name="referee_id"]').val(fansId);
			$('[name="referee"]').val(fansNickname);
			$('[name="refer_level"]').val(parseInt($tr.data('level'))+1);

			var $el = $('[name="fans"]');
			W.validate($el.parents('.form-group'));
		});

	});
</script>
{% endblock %}

