{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-couponHistoryPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/fans/fanses/">渠道扫码</a></li>
			<li class="active">推荐总数</li>
		</ul>
	</div>
	
	<div class="panel panel-default xui-panel-table pl15 pr15 mt30">

	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th>粉丝昵称</th>

			</tr>
		</thead>
		<tbody>
		  {% for fan in fans %}
			<tr data-id="">
				<td>
					<span class="xui-bold"><a href="/fans/fans/?id={{fan.id}}">{{fan.nickname}}</a></span>
				</td>
			</tr>
		  {% endfor %}
		</tbody>
		<div class="cb"></div>
	</table>
	</div>
</div>
{% endblock %}


