{% extends "content_base.html" %}
{% load common_filter %}

{% block content-panel %}
<div class="xui-outlinePage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/fans/fanses/">粉丝</a></li>
		<li>粉丝概况</li>
	</ul>

	<div class="row clearfix">
		<div class="xui-col-3">
			<div class="xui-widget xui-widget-navy m10">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-8 tr xui-i-content">
						社群商城总数<br/>2,198<br/>
					</div>
				</div>
			</div>
		</div>

		<div class="xui-col-3">
			<div class="xui-widget xui-widget-lazur m10">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-pencil-square-o fa-5x"></i>
					</div>
					<div class="col-xs-8 tr xui-i-content">
						会员总数<br/>1,689,876<br/>
					</div>
				</div>
			</div>
		</div>

		<div class="xui-col-3">
			<div class="xui-widget xui-widget-yellow m10">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-credit-card fa-5x"></i>
					</div>
					<div class="col-xs-8 tr xui-i-content">
						总交易额<br/>5,612,736,629<br/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="xui-chart mt15 col-lg-6">
			<div class="xui-i-title">
				<span>社群商城数量趋势图</span>
			</div>
			<div class="xui-i-content">
				<div id="fansIncrementTrendChart" style="height: 300px; padding: 5px 10px 0px 0px;">
				</div>
			</div>
		</div>

		<div class="xui-chart mt15 col-lg-6">
			<div class="xui-i-title">
				<span>会员数趋势图</span>
			</div>
			<div class="xui-i-content">
				<div id="fansTrendChart" style="height: 300px; padding: 5px 10px 0px 0px;">
				</div>
			</div>
		</div>

		<div class="xui-chart mt15 col-lg-5">
			<div class="xui-i-title">
				<span>交易额趋势图（单位：万元）</span>
			</div>
			<div class="xui-i-content">
				<div id="cardIncrementTrendChart" style="height: 300px; padding: 5px 10px 0px 0px;">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	//粉丝增量趋势图
	W.fansIncrementTrendChart = echarts.init(document.getElementById('fansIncrementTrendChart'));
	W.getApi().call({
		app: 'fans',
		resource: 'fans_increment_trend',
		args: {
		},
		success: function(data) {
			data.toolbox.feature.dataView = {
				'show': true,
				'title': "数据视图"
			}	
			W.fansIncrementTrendChart.setOption(data, true);
		}
	});

	//粉丝总量趋势图
	W.fansTrendChart = echarts.init(document.getElementById('fansTrendChart'));
	W.getApi().call({
		app: 'fans',
		resource: 'fans_trend',
		args: {
		},
		success: function(data) {
			data.toolbox.feature.dataView = {
				'show': true,
				'title': "数据视图"
			}	
			W.fansTrendChart.setOption(data, true);
		}
	});

	//微众卡使用概况
	W.getApi().call({
		app: 'fans',
		resource: 'card_use_outline',
		args: {
		},
		success: function(data) {
			xwarn(data);
			data.toolbox.feature.dataView = {
				'show': true,
				'title': "数据视图"
			}
			$('.xa-cardOutline').html(data);
		}
	});

	//微众卡使用增量趋势图
	W.cardIncrementTrendChart = echarts.init(document.getElementById('cardIncrementTrendChart'));
	W.getApi().call({
		app: 'fans',
		resource: 'card_increment_trend',
		args: {
		},
		success: function(data) {
			xwarn(data);
			data.toolbox.feature.dataView = {
				'show': true,
				'title': "数据视图"
			}
			W.cardIncrementTrendChart.setOption(data, true);
		}
	});
});
</script>
{% endblock %}

