{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fans-cardsPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>渠道扫码</li>
			<li class="active">渠道扫码效果列表</li>
		</ul>
	</div>
    	<div class="xui-searchPanel mt15 form-horizontal panel panel-default">
		<fieldset class="mt10">
			<div class="xui-form-row">
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="setting_id">二维码id</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="setting_id"
							name="setting_id"
						/>
					</div>
				</div>


				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="name">名称</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="name"
							name="name"
						/>
					</div>
				</div>
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="system_account">投放平台</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="system_id">
							<option value="-1">选择系统账号...</option>
                            <option value="3">微众精选</option>
                            <option value="26">微众妈妈</option>
                            <option value="27">微众学生</option>
                            <option value="32">微众俱乐部</option>
						</select>
					</div>
				</div>

			</div>

			<div class="xui-form-row mt10">
				<div class="xui-form-item clearfix" style="width:67%">
					<label class="control-label fl mr5" for="content">日期</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="start_date"
						name="start_date"
						style=""
						value=""
						readonly="readonly"
						data-enable-select-time="true"
						data-ui-role="datepicker"
						data-format="yy-mm-dd"
						data-max="now"
						data-max-el="#end_date"/>
					<label class="control-label fl ml5 mr5" for="content" style="width:15px">至</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="end_date"
						name="end_date"
						value=""
						readonly="readonly"
						data-ui-role="datepicker"
						data-enable-select-time="true"
						data-format="yy-mm-dd"
						data-max="now"
						data-min-el="#start_date"/>
				</div>
				<div class="xui-form-item clearfix">
				</div>
			</div>



			<div class="mt20 tc">
				<a href="javascript:void(0);" class="btn btn-primary xa-search">查询</a>
				<a href="javascript:void(0);" class="btn btn-default xa-reset ml30">重置</a>
			</div>
		</fieldset>
	</div>
	<div class="panel panel-default xui-panel-table pl15 pr15 mt30">
		<div 
			class="panel-body panel-table p0 mt5"
			data-ui-role="advanced-table" 
			data-app="fans" 
			data-resource="qrcode_effect"
			data-template-id="#table" 
			data-enable-paginator="true" 
			data-enable-sort="false"
			data-selectable="false" 
			data-disable-header-select="true" 
			data-item-count-per-page="20" 
			data-auto-load="false"
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10">
		<thead>
			<tr>
				<th width="40">#</th>
				<th>二维码id</th>
				<th>二维码名称</th>
				<th>二维码weapp名称</th>
				<th>投放公众平台</th>
				<th class="tx_sortable xui-blue" data-sort-attr='count' data-sort-direction="up" data-init-sort="-count">引入会员总数</th>
				<th class="tx_sortable xui-blue" data-sort-attr='recomend_count' data-sort-direction="up" >推荐总数</th>
				<th class="tx_sortable xui-blue" data-sort-attr='suggestion_count' data-sort-direction="up" >反馈总数</th>
				<th class="tx_sortable xui-blue" data-sort-attr='order_num' data-sort-direction="up">成单数</th>
				<th class="tx_sortable xui-blue" data-sort-attr='pay_money' data-sort-direction="up">会员总消费金额(现金+微众卡)</th>
				<th class="tx_sortable xui-blue" data-sort-attr='cash' data-sort-direction="up">现金</th>
				<th class="tx_sortable xui-blue" data-sort-attr='card' data-sort-direction="up">微众卡</th>
				<th class="tx_sortable xui-blue" data-sort-attr='created_at' data-sort-direction="up" >日期</th>
				<th class="tx_sortable xui-blue">weapp创建日期</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td>${ i+1 }</td>
				<td>
					<span class="xui-bold">${item.setting_id}</a></span>
				</td>
				<td>
					<span class="xui-bold">${item.name}</span>
				</td>
				<td>
					<span class="xui-bold">${item.weapp_name}</span>
				</td>
				<td>${item.system_id}</td>
				<td>${item.count}人</td>
				<td><a href="/fans/qrcode_effect_recomend/?id=${item.id}">${item.recomend_count}人</a></td>
				<td><a href="/fans/qrcode_effect_suggestion/?id=${item.id}">${item.suggestion_count}</a></td>
				<td>${item.order_num}</td>
				<td>${item.pay_money}元</td>
				<td>${item.cash}元</td>
				<td>${item.card}元</td>
				<td>${item.created_at}</td>
				<td>${item.weapp_created_at}</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">您还没有收到渠道扫码效果，请进行渠道扫码配置后查看！</span>
		</div>
	{{/if}}
	<br>
</script>



<script type="text/javascript">

$(document).ready(function() {
	$('.xa-search').click(function(event) {
		var name = $.trim($('[name="name"]').val());
		var setting_id = $.trim($('[name="setting_id"]').val());
		var system_id = $.trim($('[name="system_id"]').val());
		var startDate = $.trim($('#start_date').val());
		var endDate = $.trim($('#end_date').val());
		if(startDate.length > 0 && endDate.length == 0){
			W.showHint('error', '请输入开始日期!');
			return;
		}
		if(endDate.length > 0 && startDate.length == 0){
			W.showHint('error', '请输入结束日期!');
			return;
		}

		var table = $('[data-ui-role="advanced-table"]').data('view');
		table.reload({
			name: name,
			setting_id: setting_id,
			system_id: system_id,
			start_date: startDate,
			end_date: endDate
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});

	$('.xa-reset').click(function(event) {
		$('[name="name"]').val('');
		$('[name="setting_id"]').val('');
		$('#start_date').val('');
		$('#end_date').val('');
		$('[name="system_id"]').val('-1');
	});


	// 初始化日历控件
	var addDatepicker = function() {
		var _this = this;
		$('input[data-ui-role="datepicker"]').each(function() {
			var $datepicker = $(this);
			var format = $datepicker.attr('data-format');
			var min = $datepicker.attr('data-min');
			var max = $datepicker.attr('data-max');
			var $min_el = $($datepicker.attr('data-min-el'));
			var $max_el = $($datepicker.attr('data-max-el'));
			var options = {
				buttonText: '选择日期',
				currentText: '当前时间',
				hourText: "小时",
				minuteText: "分钟",
				numberOfMonths: 1,
				dateFormat: format,
				//dateFormat: format,
				closeText: '确定',
				prevText: '&#x3c;上月',
				nextText: '下月&#x3e;',
				monthNames: ['一月','二月','三月','四月','五月','六月',
					'七月','八月','九月','十月','十一月','十二月'],
				monthNamesShort: ['一','二','三','四','五','六',
					'七','八','九','十','十一','十二'],
				dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
				dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
				dayNamesMin: ['日','一','二','三','四','五','六'],
				beforeShow: function(e) {
					if(min === 'now') {
						$(this).datepicker('option', 'minDate', new Date());
					}else if(min){
						$(this).datepicker('option', 'minDate', min);
					}

					if($min_el){
						var startTime = $min_el.val();
						if(startTime) {
							$(this).datepicker('option', 'minDate', startTime);
							$(this).datepicker('option', 'minDateTime', new Date(startTime));
						}
					}

					if(max === 'now') {
						$(this).datepicker('option', 'maxDate', new Date());
					}else if(max){
						$(this).datepicker('option', 'maxDate', max);
					}

					if($max_el){
						var endTime = $max_el.val();
						if(endTime) {
							$(this).datepicker('option', 'maxDate', endTime);
						}
					}
				},
				onClose: function() {
				}
			};

			// $datepicker.datetimepicker(options);
			$datepicker.datepicker(options);
		});
	};
	addDatepicker();
});
</script>
{% endverbatim %}
{% endblock %}

