{% extends "content_base.html" %}
{% load common_filter %}

{% block content-panel %}
<div class="xui-suggestionPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/fans/fanses/">粉丝</a></li>
		<li><a href="/fans/fans/?id={{fans.id}}">{{fans.nickname}}详情</a></li>
		<li class="active">添加反馈意见</li>
	</ul>
	
	<form 
		class="form-horizontal mt15 {% if fans %}xui-updateForm{% endif %}" 
		method="post" 
		id="editForm" 
		data-id="{% if activity %}{{ activity.id }}{% else %}0{% endif %}"
	>
		<fieldset >
			<legend class="pl15 pb5 pt5">
				反馈意见
			</legend>
			<div class="form-group clearfix">
				<label class="control-label col-sm-2" for="company">商家</label>
				<div class="col-sm-4">
					<select name="company" class="form-control ml5 xui-inlineblock xa-company" data-validate="require-select" style="width: auto;">
						<option value="-1">选择商家</option>
						{% for company in companies %}
						<option value="{{company.id}}" {% if company.id == suggestion.company.id %}selected="selected"{% endif %}>{{company.name}}</option>
						{% endfor %}
					</select>
					<!-- <a href="/config/company/" target="_blank" class="ml5">+添加</a> -->
					<div class="errorHint ml5" data-error-hint="请选择一个有效商家"></div>
				</div>
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-2" for="product">商品</label>
				<div class="col-sm-4">
					<select name="product" class="form-control ml5 xui-inlineblock xa-product" data-validate="require-select" style="width: auto;">
						<option value="-1">选择商品</option>
						{% for product in products %}
						<option value="{{product.id}}" {% if product.id == suggestion.product.id %}selected="selected"{% endif %}>{{product.name}}</option>
						{% endfor %}
					</select>
					<!-- <a href="/config/product/" target="_blank" class="ml5">+添加</a> -->
					<div class="errorHint ml5" data-error-hint="请选择一个有效商品"></div>
				</div>
			</div>

			<!-- <div class="form-group clearfix">
				<label class="control-label col-sm-2" for="type">类型</label>
				<div class="col-sm-4">
					<select name="type" class="form-control ml5 xui-inlineblock" data-validate="require-select" style="width: 120px;">
						<option value="-1">选择类型</option>
						{% for suggestion_type in suggestion_types %}
						<option value="{{suggestion_type.id}}" {% if suggestion_type.id == suggestion.type.id %}selected="selected"{% endif %}>{{suggestion_type.name}}</option>
						{% endfor %}
					</select>
					<a href="/config/suggestion_type/" target="_blank" class="ml5">+添加</a>
					<div class="errorHint ml5" data-error-hint="请选择一个有效商品"></div>
				</div>
			</div> -->

			<div class="form-group clearfix">
				<label class="control-label col-sm-2" for="content">原始意见</label>
				<div class="col-sm-8">
					<textarea
						data-ui-role="richtext-editor" 
						data-type="full" 
						data-height="200" 
						data-width="500"
						name="content"
						class="ml5 xui-hide"
						data-validate="require-notempty"
					>{{suggestion.content}}</textarea>
					<div class="errorHint ml5"></div>
				</div>
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-2" for="normalized_content">整理后意见</label>
				<div class="col-sm-8">
					<textarea
						data-ui-role="richtext-editor" 
						data-type="full" 
						data-height="200" 
						data-width="500"
						name="normalized_content"
						class="ml5 xui-hide"
					>{{suggestion.normalized_content}}</textarea>
				</div>
			</div>

			<div class="form-group clearfix">
				<label class="control-label col-sm-2" for="remark">备注</label>
				<div class="col-sm-8">
					<textarea
						name="remark"
						class="form-control ml5"
						style="width:100%; min-height:80px;"
					></textarea>
				</div>
			</div>

		</fieldset>
		
		<div class="mt20 tc">
			<a class="btn btn-primary mr40 xa-submit xui-fontBold" href="javascript:void(0);">保 存</a>
		</div>
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="/static/js/system/address.js"></script>
<script type="text/javascript">
	var inUpdateMode = {% if suggestion %}true{% else %}false{% endif %};
	var objectId = "{{suggestion.id}}";
	var fansId = "{{fans.id}}";

	$(document).ready(function() {
		$('.xa-tabs a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('.xa-submit').click(function() {
			if (!W.validate()) {
				return;
			}

			var method = 'put';
			if (inUpdateMode) {
				method = 'post';
			}

			var $form = $('form');
			var data = $form.serializeObject();
			if (inUpdateMode) {
				data['id'] = objectId;
			}
			data['fans_id'] = fansId;

			W.getApi().call({
				app: 'fans',
				resource: 'suggestion',
				method: method,
				args: data,
				success: function(data) {
					W.showHint('success', '创建成功');
					_.delay(function() {
						window.location.href = '/fans/fans/?id='+fansId;
					}, 500);
				},
				error: function(resp) {
					W.showHint('error', '创建失败，请稍后再试！');
				}
			});
		});


		$(document).delegate('.xa-company','change',function() {
			$('.xa-product').empty();
			$(".xa-product").append('<option value="-1">选择产品...</option>');
			var companyId = $(".xa-company").val();
			var companyName = $.trim($('.xa-company').find("option:selected").text());  //临时解决方案
			W.getApi().call({
				app: 'config', 
				resource: 'products',
				method: 'get',
				args: {
					// 'company_id': companyId
					'company_name': companyName
				},
				success: function(data) {
					var items = data.items;
					for(x in items) {
						var item = items[x];
						$(".xa-product").append('<option value="' + item.id + '">' + item.name + '</option>');
					}
				},
				error: function(resp) {
					W.showHint('error', '获取商家产品列表失败!');
				}
			});
		});
	});


</script>
{% endblock %}

