{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-fansesPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/fans/fanses/">粉丝</a></li>
			<li class="active">八千商品统计</li>
		</ul>
	</div>

	<div class="xui-searchPanel mt15 mb15 form-horizontal panel panel-default">
		<fieldset class="mt10">
			<div class="xui-form-row">
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="name">商品名称</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="name"
							name="name"
						/>
					</div>
				</div>
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="supplier_name" style="width: 80px;">供应商名称</label>
					<div class="fl">
						<input
							type="text"
							class="form-control w150 ml5"
							id="supplier_name"
							name="supplier_name"
						/>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="xui-form-item clearfix">
					<label class="control-label fl" for="system_id">平台</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="system_id">
							<option value="-1">选择平台...</option>
							<option value="3">微众精选</option>
							<option value="26">微众妈妈</option>
							<option value="27">微众学生</option>
							<option value="43">微众商城</option>
						</select>
					</div>
				</div>
                <div class="xui-form-item clearfix">
					<label class="control-label fl" for="supplier_status" style="width: 80px;">供应商状态</label>
					<div class="fl">
						<select class="form-control w150 ml5" name="supplier_status">
							<option value="-1">选择状态...</option>
							<option value="1">服务中</option>
							<option value="3">已续费</option>
							<option value="5">已终止</option>
						</select>
					</div>
				</div>
			</div>

			<div class="xui-form-row mt10">
				<div class="xui-form-item clearfix" style="width:67%">
					<label class="control-label fl mr5" for="content">上架时间</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="start_date"
						name="start_date"
						style=""
						value=""
						readonly="readonly"
						data-enable-select-time="true"
						data-ui-role="datepicker"
						data-format="yy-mm-dd"
						data-max="now"
						data-max-el="#end_date"/>
					<label class="control-label fl ml5 mr5" for="content" style="width:15px">至</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="end_date"
						name="end_date"
						value=""
						readonly="readonly"
						data-ui-role="datepicker"
						data-enable-select-time="true"
						data-format="yy-mm-dd"
						data-max="now"
						data-min-el="#start_date"/>
				</div>
			</div>


			<div class="mt20 tc clearboth">
				<a href="javascript:void(0);" class="btn btn-primary xa-search">查询</a>
				<a href="javascript:void(0);" class="btn btn-default xa-reset ml30">重置</a>
				<a href="javascript:void(0);" class="btn btn-default xa-export ml30">导出数据</a>
			</div>
		</fieldset>
	</div>

	<div class="panel panel-default xui-panel-table pl15 pr15 mt15">
		<div
			class="panel-body panel-table p0 mt5"
			data-ui-role="advanced-table"
			data-app="fans"
			data-resource="supplier_products"
			data-template-id="#table"
			data-enable-paginator="true"
			data-enable-sort="false"
			data-selectable="false"
			data-disable-header-select="true"
			data-item-count-per-page="20"
			data-auto-load="false"
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered mb10" style="cursor: pointer;">
		<thead>
			<tr>
				<th width="40">#</th>

				<th>供应商</th>
				<th>供应商状态</th>
				<th>商品名称</th>
				<th>商品id(weapp)</th>
				<th>平台</th>
				<th>反馈数量</th>
				<th class="tx_sortable xui-blue" data-sort-attr='order_num_all' data-sort-direction="up">订单数</th>
				<th class="tx_sortable xui-blue" data-sort-attr='final_price_all' data-sort-direction="up">支付金额</th>
				<th class="tx_sortable xui-blue" data-sort-attr='cash_all' data-sort-direction="up">现金</th>
				<th class="tx_sortable xui-blue" data-sort-attr='card_all' data-sort-direction="up">微众卡</th>
				<th class="tx_sortable xui-blue" data-sort-attr='coupon_money_all' data-sort-direction="up">优惠券优惠金额</th>
				<th class="tx_sortable xui-blue" data-sort-attr='integral_money_all' data-sort-direction="up">积分优惠金额</th>
				<th class="tx_sortable xui-blue" data-sort-attr='discount_money_all' data-sort-direction="up">总优惠金额</th>
				<th class="tx_sortable xui-blue" >上架时间</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr class="xui-i-expandable xa-expand" data-id= ${i+1}>
				<td>${i+1}</td>

				<td>${item.supplier_name}</td>
				<td>${item.supplier_status}</td>
				<td></td>
				<td></td>
				<td></td>
				<td>${item.suggestion_num_all}</td>
				<td>${item.order_num_all}<a class='xui-blue' href = "/fans/supplier_product_detail/?supplier_id=${item.id}" target=_blank>(统计图)</a></td>
				<td>${item.final_price_all}</td>
				<td>${item.cash_all}</td>
				<td>${item.card_all}</td>
				<td>${item.coupon_money_all}</td>
				<td>${item.integral_money_all}</td>
				<td>${item.discount_money_all}</td>
				<td></td>
			</tr>
			{{each(j, product) item.products}}
			    <tr class="xui-i-expanded xui-hide" data-supplier-id=${i+1}>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${product.name}</td>
                    <td>${product.weapp_product_id}</td>
                    <td>${product.system_id}</td>
                    <td>${product.suggestion_num}</td>
                    <td>${product.order_num}</td>
                    <td>${product.final_price}</td>
                    <td>${product.cash}</td>
                    <td>${product.card}</td>
                    <td>${product.coupon_money}</td>
                    <td>${product.integral_money}</td>
                    <td>${product.discount_money}</td>
                    <td>${product.on_sale_time}</td>
			    </tr>
			{{/each}}
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox mt10" style="border:solid 1px #ddd;">
			<span class="ml20">您还没有数据！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).delegate('.xa-hide-col','click',function(event) {
	var $el = $(event.target);
	var cid = $el.parent().attr('cid');
	$('table tr').find('td:eq(' + cid + ')').hide();
	$('table tr').find('th:eq(' + cid + ')').hide();
});
$(document).ready(function() {

	$('.xa-search').click(function(event) {
		var name = $.trim($('[name="name"]').val());
		var supplier_status = $.trim($('[name="supplier_status"]').val());
		var supplier_name = $.trim($('[name="supplier_name"]').val());
		var system_id = $.trim($('[name="system_id"]').val());
		var startDate = $.trim($('#start_date').val());
		var endDate = $.trim($('#end_date').val());
		if(startDate.length > 0 && endDate.length == 0){
			W.showHint('error', '请输入结束日期!');
			return;
		}
		if(endDate.length > 0 && startDate.length == 0){
			W.showHint('error', '请输入开始日期!');
			return;
		}

		var table = $('[data-ui-role="advanced-table"]').data('view');
		table.reload({
			name: name,
			supplier_name: supplier_name,
			system_id: system_id,
			supplier_status: supplier_status,
			start_date: startDate,
			end_date: endDate
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});

	// 组织导出的查询参数格式
	var getArgsExportValueByDict = function(args) {
		if (args.length == 0) {
			return ""
		} else {
			for (var i = args.length - 1; i >= 0; i--) {
				args[i] = args[i].replace(/"/g, '').replace(':', '=')
			}
			return args.join('&');
		}
	}

	$('.xa-export').click(function(event) {
		var name = $.trim($('[name="name"]').val());
		var supplier_status = $.trim($('[name="supplier_status"]').val());
		var supplier_name = $.trim($('[name="supplier_name"]').val());
		var system_id = $.trim($('[name="system_id"]').val());
		var startDate = $.trim($('#start_date').val());
		var endDate = $.trim($('#end_date').val());

		if(startDate.length > 0 && endDate.length == 0){
			W.showHint('error', '请输入结束日期!');
			return;
		}
		if(endDate.length > 0 && startDate.length == 0){
			W.showHint('error', '请输入开始日期!');
			return;
		}

		var url = '/fans/supplier_products_export/';
		var args = [
			"name:"+name,
			"supplier_name:"+supplier_name,
			"supplier_status:"+supplier_status,
			"system_id:"+system_id,
			"start_date:"+startDate,
			"end_date:"+endDate
		];
		args = getArgsExportValueByDict(args);
		if (args.length > 0) {
			url = url + '?'+args;
		}
		console.log(url, args)
		window.open(url, '八千商品统计', 'Window Settings');
		//W.getLoadingView().show();
		//$('#spin-hint').html('玩命导出中...');
		//var $frame=$('<iframe>').hide().attr('src',url);
		//$('body').append($frame);
		//setTimeout(function(){W.getLoadingView().hide()}, 5000);
	});

	$('.xa-reset').click(function(event) {
		$('[name="name"]').val('');
		$('[name="supplier_name"]').val('');
		$('[name="supplier_status"]').val('');
		$('#start_date').val('');
		$('#end_date').val('');
		$('[name="system_id"]').val('-1');
	});
    $('body').delegate('.xa-expand', 'click', function (event) {
		var $el = $(event.target);
		if ($el.attr('href') || $el.attr('name') === 'level' || $el.attr('name') === 'coupon') {
			return;
		} else {
			event.stopPropagation();
			event.preventDefault();
			var $tr = $(event.currentTarget);
			var id = $tr.data('id');
			$('[data-supplier-id="'+id+'"]').toggle(100);
		}
	});

	// 初始化日历控件
	var addDatepicker = function() {
		var _this = this;
		$('input[data-ui-role="datepicker"]').each(function() {
			var $datepicker = $(this);
			var format = $datepicker.attr('data-format');
			var min = $datepicker.attr('data-min');
			var max = $datepicker.attr('data-max');
			var $min_el = $($datepicker.attr('data-min-el'));
			var $max_el = $($datepicker.attr('data-max-el'));
			var options = {
				buttonText: '选择日期',
				currentText: '当前时间',
				hourText: "小时",
				minuteText: "分钟",
				numberOfMonths: 1,
				dateFormat: format,
				//dateFormat: format,
				closeText: '确定',
				prevText: '&#x3c;上月',
				nextText: '下月&#x3e;',
				monthNames: ['一月','二月','三月','四月','五月','六月',
					'七月','八月','九月','十月','十一月','十二月'],
				monthNamesShort: ['一','二','三','四','五','六',
					'七','八','九','十','十一','十二'],
				dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
				dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
				dayNamesMin: ['日','一','二','三','四','五','六'],
				beforeShow: function(e) {
					if(min === 'now') {
						$(this).datepicker('option', 'minDate', new Date());
					}else if(min){
						$(this).datepicker('option', 'minDate', min);
					}

					if($min_el){
						var startTime = $min_el.val();
						if(startTime) {
							$(this).datepicker('option', 'minDate', startTime);
							$(this).datepicker('option', 'minDateTime', new Date(startTime));
						}
					}

					if(max === 'now') {
						$(this).datepicker('option', 'maxDate', new Date());
					}else if(max){
						$(this).datepicker('option', 'maxDate', max);
					}

					if($max_el){
						var endTime = $max_el.val();
						if(endTime) {
							$(this).datepicker('option', 'maxDate', endTime);
						}
					}
				},
				onClose: function() {
				}
			};

			// $datepicker.datetimepicker(options);
			$datepicker.datepicker(options);
		});
	};
	addDatepicker();
});
</script>
{% endblock %}

